fastapi
uvicorn
python-multipart
python-dotenv

boto3

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

faiss-cpu
sentence-transformers
transformers
torch

huggingface-hub
rank-bm25

numpy
pandas

pypdf

ddgs

python-dateutil

aiofiles